################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/interview/DesignTimeBuild
/.vs
/bin/Debug/net8.0
/obj/Debug/net8.0
*.dll
/obj/Debug/net8.0/interview.AssemblyInfo.cs
/obj/Debug/net8.0/interview.AssemblyInfoInputs.cache
